.auth-modal__anchor-button {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
}

.auth-modal__anchor-button:hover,
.auth-modal__anchor-button:active {
  text-decoration: underline;
}

.auth-modal__anchor-button:active {
  transform: scale(0.9);
}
